
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.container img{
    width: 100%;
    min-width: 290px;
    border-radius: 10px;
}

.container div{
    margin-top: 80px;
}

.dados{
    font-size: 1.2rem;
}

.dados li{
    margin-bottom: 0.8rem;
}

.container h2{
    font-size: 2rem;
    margin-bottom: 0.8rem;
}
.dados li::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 10px;
    background-color: teal;
    margin-right: 10px;
}

@media (max-width:600px) {
    .container{
        grid-template-columns: 1fr;
        
    }
}