.nav{
    background: teal;
    
}

.nav ul{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.nav li{
    margin-right: 20px;
}

.btnNav{
    background-color: rgb(0, 70, 70);
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
}

.btnNav:hover{
    background-color: rgb(0, 95, 95);

}