* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  background: #f7f7f7;
}

header {
  text-align: center;
}

.logo {
  margin-top: 50px;
}
/* ---------------nav--------------------------- */
.nav {
  margin-top: 55px;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav a {
  margin: 5px 10px 5px 10px;
  padding: 15px 25px;
  border-radius: 5px;
  background: white;
  color: black;
}
/* ---------------conteudo--------------------------- */
.conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* ---------------part1--------------------------- */
.divisor {
  background: #ee2211;
  width: 60px;
  height: 5px;
  position: absolute;
  left: 450px;
}

.part1 {
  width: 420px;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: end;
  position: relative;
}

.part1 h1 {
  margin: 50px 0 20px 0;
}

.part1 p {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: right;
}

.part1 a {
  text-decoration: none;
  background: #ee2211;
  color: white;
  font-size: 15px;
  padding: 15px 20px;
  border-radius: 5px;
}

/* ---------------part2--------------------------- */
.part2 {
  width: 500px;
}
.part2 img {
  max-width: 100%;
}
/* tentando quebrar essa linha do display flex, ia implementar algo como flex-direction: column */
.conteudo2 {
}
