.container{
    overflow: hidden; /*esconde oq estourar do container*/
}
.content{
    display: flex;
    transition: transform  0.3s ease ;
}


.item{
    width: 80%;
    flex-shrink: 0; /*impede o flex de compactar o pai, fazendo com que os 80% funcione*/
    padding: 10rem 0;
    margin: 0 10%;
    border-radius: 4px;
    text-align: center;
    background: rgb(191, 197, 197);
}


.nav{
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    width: 80%;
}