body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}

h2 {
  margin-top: 0px;
}
.item {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 5px;
  display: grid;
}

.comprar {
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  text-decoration: none;
  border-radius: 5px;
}

.grid {
  display: grid;
  /* Cada valor inserido em grid template columns 'e uma coluna */
  /*grid-template-columns: 1fr 1fr;  fr distribui o espaco que sobra*/
  grid-template-columns: auto auto;
  gap: 20px; /*espacamento entre as colunas*/
  justify-content: center;
}
