.opcoes{
    display: flex;
  }
  
  .opcao{
    display: flex;
    font-size: 16px;
    min-width: 100px;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
    cursor: pointer;
  }