
.Exercicio{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 30px;
    flex-wrap: wrap;
    
}


h3{
    text-align: center;
}

.produto{
    display: grid;
    justify-content: center;
}